BOT_TOKEN=8812928384:AAG3cHSroInlp3rjdNZxPjP4hkBnFXFvcpA
DATABASE_URL=sqlite+aiosqlite:///./yvnbet_bot.db
SUPER_ADMIN_ID=
WEBSITE_URL=https://example.com
OPERATOR_URL=https://t.me/ynbet
APP_TIMEZONE=Asia/Yerevan
REGISTRATION_ENABLED=true
